<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcDenganJQuery:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcDenganJQuery-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMvcDenganJQuery:war exploded" />
    </root>
  </artifact>
</component>